<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Twitter Circle - social circle in crypto space </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container px-lg-5">
                <h6 class="navbar-brand" href="#">Twitter Circle</h6>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about-card">Donate</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-2">
            <div class="container px-lg-5">
                <div class="p-2 p-lg-5 bg-white rounded-3 text-center">
                    <div class="m-2 m-lg-5">
                        <h1 class="display-5 fw-bold">Twitter Circle</h1>
                          <p>Explore social circle on Twitter. Designed for crypto and NFT analysis.</p>
                        <form method="post">
                            <div class="input-group px-7">
                              <input type="text" name="name" class="pl-4 form-control rounded" placeholder="@elonmuzzk" />
                              <button type="submit"  class="btn btn-outline-success">Analyse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <!-- Page Content-->

        {% block description %}

        {% endblock description %}


        {% block content %}

        {% endblock %}

        <div class="container my-5">
         <div class="row align-items-center">
            <div class="col-12 mx-auto my-4">
                <div class="card" id="about-card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img width=200px, height=200px src="https://pbs.twimg.com/profile_images/1533774748429295616/p-jdJdAE_400x400.jpg"
                          alt="Card image cap">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">About</h4>
                            <p class="card-text">This app was created by <a href="https://twitter.com/bo_bilan" target="_blank">@bo_bilan</a>,
                                who got tired of rugs and scams in crypto.
                                Hope it helps you to stay safe out there in that harsh blockchain desert.
                                If you liked my service, you know what to do 😉
                            </p>
                                <a href="https://ko-fi.com/bo_bilan" target="_blank" class="btn btn-primary" >Buy me a coffee</a>
                                <a href="#"target="_blank" class="btn btn-danger">Donate crypto</a>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"> "In crypto we trust"</small>
                    </div></div>
                </div>
         </div>
        </div>

        <!-- Footer-->
        <div class="container-fluid">
            <footer class="py-4 bg-success">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; "Moonsnail Production" Twitter Circle 2022</p></div>
            </footer>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>