{% extends "base.html" %}
{% block description %}

{#     <div class="container my-5">#}
{#         <div class="row align-items-center">#}
{#            <div class="col-5 mx-auto my-4">#}
{#                <div class="card" ">#}
{#                 <div class="card-header-results bg-success rounded-top text-white text-center">#}
{#                            <p>Bogdan Bilan: <span class="badge badge-pill badge-danger">coder</span></p>#}
{#                        </div>#}
{#                    <div class="card-horizontal">#}
{#                        <div class="img-square-wrapper">#}
{#                            <img width=130px, height=130px class="rounded-circle p-2" src="https://pbs.twimg.com/profile_images/1533774748429295616/p-jdJdAE_400x400.jpg"#}
{#                          alt="Card image cap">#}
{#                            <h5 class="card-title text-center"> <a href="https://twitter.com/bo_bilan">@bo_bilan</a></h5>#}
{##}
{#                        </div>#}
{##}
{#                       <div class="card-body-results">#}
{#                            <p class="card-text"><b>Registered:</b> 10.10.1993 <br><b>Followers:</b> 2000 <br><b>Following:</b> 1000 <br><b>Tweets count:</b> 1993#}
{#                           <br><b>Location:</b> Kampfire <br><b>Suspicious mentions:</b> 5#}
{##}
{#                        </div>#}
{#                        </div>#}
{#                        <div class="card-body-tweets overflow-auto card-text bg-light">#}
{#                            <p class="card-title"> <b>See some mentions:</b> </p>#}
{#<p>#}
{#       <br>@NFTswiper4489 @MoonwarriorsNF This is so bad really need to be stopped, the menace the cause can't be over emphasized...just last week I was scammed and it was devastating , but with the help of https://t.co/UKVt83y10w was able to recover most of it!!! He can help you as well --> https://twitter.com/i/web/status/1559967224428994562<br>#}
{#<br>@MoonwarriorsNF My first mint was a rug. --> <a class="text-info" href="https://twitter.com/i/web/status/1559920651330256897">https://twitter.com/i/web/status/1559920651330256897</a> <br> </p>#}
{##}
{##}
{#                            </div>#}
{##}
{##}
{#                        </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}


{##}
    {#   SECTIOND BELONGS TO RESULT HTML. Return values #}
{#     <div class="container my-4">#}
{#            <div class="row g-4 justify-content-center">#}
{#                {% for x in range(10) %}#}
{#              <div class="col-sm-2">#}
{#                <div class="card rounded-top">#}
{#                    <div class="card-header-results bg-info rounded-top text-white text-center">#}
{#                            <p>Connection score: <span class="badge badge-secondary">30.5</span></p>#}
{#                        </div>#}
{#                    <div class="card-body-results ">#}
{#                    <img class="card-img-top rounded-circle" src="https://pbs.twimg.com/profile_images/1533774748429295616/p-jdJdAE_400x400.jpg" alt="Card image cap">#}
{#                    </div>#}
{#                        <div class="card-body-results">#}
{#                        <h5 class="card-title"> <a href="https://twitter.com/bo_bilan">@bo_bilan</a></h5>#}
{#                            <p class="card-text"><b>Registered:</b> 10.10.1993 <br><b>Followers:</b> 2000 <br><b>Following:</b> 1000 <br><b>Tweets count:</b> 1993#}
{##}
{#                      </div>#}
{#                </div>#}
{#              </div>#}
{#                {% endfor %}#}
{##}
{##}
{##}
{##}
{#            </div>#}
{#        </div>#}


{#   Basic section of usage examples #}
     <div class="container">
            <div class="row g-4">
              <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://clouddevs.com/3dbay/files/preview/1280x1067/11635887587zqpxsnn8v20j7hwx9gt2m2ih2cg8hfwexhp1rfxwcb2l1kfzzmh3xgkjskw26mszyg7kojjwqnbdmskl0vyzb5mgdhi8vjadcba8.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Crypto projects</h5>
                        <p class="card-text-main">Our service eases blockchain projects analysis by providing common connections and useful data.</p>
                      </div>
                </div>
              </div>
                <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://clouddevs.com/3dbay/files/preview/1280x1067/11647893202vujx9qi0lhkncgm1rhkpubepo29nhalqz7zuw5lsfxbgbgih66xyoam3hk2ubnwmbigbwkmczqlol4l9fblkxhtc08tejfrgt1m7.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">NFT projects</h5>
                        <p class="card-text-main">Analyse NFT projects by accessing information about founders, team, shillers and other connected parties.</p>
                      </div>
                </div>
            </div>
                <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://clouddevs.com/3dbay/files/preview/1280x1080/11641584371mhl4mtw3eomav0pqx63tbw30m8zqrbsoboalfwvpfsendueg2mfypiiulu7pxeooth0agphwxazvg0r2yz693zmxj2t58ut3yxi8.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Influencers</h5>
                        <p class="card-text-main">See where influencers get influenced and pick the right circle to follow the hype. Dive into crypto faster.</p>
                      </div>
                </div>
            </div>


            </div>
        </div>

{% endblock description %}